.info-card-container {
  display: flex;
}

.below-line {
  display: flex;
  align-content: stretch;
}

.profile-img {
  max-height: 400px;
  max-width: 400px;
}

.contact {
  flex-grow: 2;
}

.featured-exp {
  flex-grow: 2;
  background-color: purple;
  color: white;
}
