.modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: 80%;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background: white;
  color: black;
}
