.settings-image {
  display: flex;
}

.settings-profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.basic-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form div {
  flex: 2;
}

.input-label-pair {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 90%;
}

.input-description {
  height: 4em;
  word-wrap: break-word;
}

.input-description[type="text"] {
}
