:root {
  --title-blue: #2086c3;
  --green-buttons: #1ca68d;
  --pink-buttons: #e2245d;
  --border-grey: #4d4d4d;
}

.apply-padding {
  padding: 0 5%;
}

.navbar-dodger {
  height: clamp(56px, 6vw, 64px);
}

button {
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  box-shadow: 1px 3px 3px #999;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}
