:root {
  --title-blue: #2086c3;
  --green-buttons: #1ca68d;
  --pink-buttons: #e2245d;
  --border-grey: #4d4d4d;
}

.apply-padding {
  padding: 0 5%;
}

.navbar-dodger {
  height: 64px;
}

.home-page-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-image: url(../assets/header-round.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-items: center;
  padding-top: 1em;
  height: 250px;
}

.home-page-title {
  align-self: center;
  width: 90%;
  font-weight: 700;
  font-size: 32px;
  color: white;
}

.sign-up-button-a {
  align-self: center;
}
.sign-up-button {
  background-color: var(--pink-buttons);
}

button {
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  box-shadow: 1px 3px 3px #999;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}
