.filters-container {
  padding: 10px;
  border: 1px solid var(--border-grey);
  border-radius: 10px;
  box-shadow: 1px 1px 4px grey;
}

.filter-label {
  color: var(--green-buttons);
  font-weight: bold;
}

.filters-select-professions {
  height: 8em;
  width: 100%;
  border: 1px solid var(--border-grey);
}

select[multiple] {
  font-size: 16px;
}

// .filters-selected-professions {
//   border-radius: 10px;
//   padding: 7px;
//   background-color: var(--background-pale-green);
//   font-size: 14px;
//   color: var(--border-grey);
// }

.filter-checkbox-container {
  display: flex;
  flex-direction: column;
}

.filter-box-label {
  margin: 3px;
}

.filters-form-buttons-container {
  display: flex;
  justify-content: space-between;
}

.filters-form-button {
  padding: 5px 10px;
  font-size: 18px !important;
}

.filters-clear-button {
  border: 2px solid var(--green-buttons) !important;
  background-color: white !important;
  color: var(--green-buttons) !important;
}

.filters-apply-button {
  border: 2px solid var(--green-buttons) !important;
  background-color: var(--green-buttons);
  color: white;
}
