.navbar-container {
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(../assets/background-pattern.png);
  background-repeat: repeat;
  background-position: center bottom;
  background-size: 100%;
}

.verloop-container {
  display: flex !important;
  flex-direction: column;
  max-width: 100%;
  height: 1em;
  display: block;
}

.verloop {
  height: 50%;
  width: 100%;
  box-shadow: 1px 1px 4px grey;
}

.navbar-header {
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
  margin-left: 5px;
  text-decoration: none;
  font-size: clamp(1.3rem, 6vw, 2.1rem);
  font-weight: 900;
  color: var(--title-blue);
}

.buttons-container {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.log-in-button {
  height: 2em;
  width: 5em;
  margin: 5px;
  padding: 5px !important;
  font-size: 14px !important;
  background-color: var(--green-buttons);
}

.navbar-icon {
  height: clamp(2em, 6vw, 2.5em);
  margin: 5px;
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: 1px 3px 3px #999;
}
