.profile-card {
  display: grid;
  grid-template-rows: 20% 80%;
  overflow: hidden;
  height: 310px;
  width: 250px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 1px 4px grey;
}

.profile-card-header {
  overflow: hidden;
  border-radius: 4px 4px 0px 0px;
  padding: 0 5px;
  background-image: linear-gradient(
    to right,
    var(--title-blue),
    var(--green-buttons)
  );
  color: white;
}

.profile-card-header > p {
  margin: 0.5em 0;
}

.profile-card-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card-img {
  height: 100%;
  width: 100%;
}

.contact-icons-container {
  display: inline-block;
  position: relative;
  bottom: 40px;
  left: 10px;
  padding: 3px 10px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid var(--green-buttons);
  box-shadow: 1px 1px 4px grey;
}

.contact-icon {
  vertical-align: -0.1em;
  height: 1em;
  margin: 0 2px;
}
