.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile-links {
  flex: 1 0 26%;
  grid-template-rows: 20% 80%;
  margin: 5px;
  text-decoration: none;
}

.pagination {
  float: right;
}
