.profiles-container {
  display: grid;
  grid-template-rows: 6;
  justify-content: center;
  width: 100%;
}

.profile-links {
  margin: 10px;
  text-decoration: none;
}

.pagination {
  float: right;
}

.pagination-button {
  background-color: var(--title-blue);
  margin: 0 5px;
}

.pagination-button:disabled {
  background-color: #2087c362;
  margin: 0 5px;
}
