.profile-card {
  height: 220px;
  width: 200px;
  margin: 50px;
}

.profile-card-img {
  max-height: 80%;
  max-width: 80%;
}

.contact-icons-container {
  max-height: 1em;
}

.contact-icon {
  height: 1em;
}
