.search {
  display: grid;
  grid-template-rows: 4rem 4rem;
  grid-auto-flow: dense;
}

.search-buttons {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  padding: 5px 5px !important;
  font-size: 16px !important;
}

.search-box {
  grid-column: 1 / 3;
  justify-self: stretch;
  align-self: center;
  height: 3rem;
  border-radius: 25px;
  border: 2px solid var(--border-grey);
  box-shadow: 1px 3px 3px #999;
  text-indent: 10px;
}

.search-submit {
  grid-column-start: 2;
  justify-self: end;
  width: 5rem;
  border: 2px solid var(--pink-buttons) !important;
  background-color: var(--pink-buttons);
}

.search-submit svg path {
  fill: white;
}

.filters-toggle {
  justify-self: start;
  width: 7rem;
  border: 2px solid var(--border-grey) !important;
  background-color: white !important;
  color: var(--border-grey) !important;
}

.filters-toggle-show {
  background-color: var(--border-grey) !important;
  color: white !important;
}

.filters-toggle svg path {
  fill: var(--border-grey);
}

.filters-toggle-show svg path {
  fill: white;
}

.search-filter-icon {
  width: 1em;
}

@media screen and (min-width: 600px) {
  .homepage-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .search {
    flex-grow: 2;
    display: flex;
  }

  .search-box {
    flex-grow: 2;
    margin-right: 10px;
    border-radius: 25px;
    border: 2px solid var(--border-grey);
    text-indent: 10px;
  }
}
