/* General styling -- all tabs */
.settings-image {
  display: flex;
}

.settings-profile-img {
  height: 200px;
  width: 200px;
}

.input-label-pair {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 90%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-description {
  height: 4em;
  word-wrap: break-word;
}

/* Profile settings styling */
.basic-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form div {
  flex: 2;
}

.experience-form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

/* Testimonials settings styling */
.settings-testimonial-controls {
  display: flex;
}

.settings-testimonial-info {
  flex: 2;
}

/* Projects setting styling */
.settings-project-img {
  height: 200px;
  width: 400px;
}
