.testimonials-container {
  background-color: #f3fbfa;
}

.testimonials-header {
  display: flex;
  justify-content: space-between;
}

.single-testimonial {
  display: grid;
  grid-template-columns: 15% 85%;
  max-height: 5rem;
}

.testimonial-img {
  position: relative;
  height: 5rem;
  border-radius: 50%;
}

.testimonial-badge {
  position: relative;
  left: -25px;
  width: 2rem;
}

.testimonial-text {
  font-size: min(1.2vw, 13.5px);
}
